[tasks.fetch]
run = [
  "git fetch -p",
  "git rebase origin/main",
  "git submodule update --init --recursive",
]

[tasks."install:neovim"]
run = [
  "cd ./bin/neovim && sudo rm -rf .deps build",
  "cd ./bin/neovim && make CMAKE_BUILD_TYPE=Release && sudo make install",
]

[tasks."install:cpuprincess"]
run = [
  "cargo install --path ./bin/cpuprincess"
]

[tasks."install:rust-analyzer"]
run = [
  "cd ./bin/rust-analyzer && cargo build --release --package rust-analyzer",
  "sudo ln -sf $(pwd)/bin/rust-analyzer/target/release/rust-analyzer /usr/local/bin/rust-analyzer",
  "rm -f ~/.cargo/bin/rust-analyzer"
]

[tasks."install:all"]
depends = [
  "install:neovim",
  "install:cpuprincess",
  "install:rust-analyzer",
]
