#include "/home/viktor/Code/others/base16/circus/xresources/base16-circus.Xresources"
*multiClickTime: 300
*international: true
Xcursor.theme: default
Xcursor.size:  8

! Xft settings ---------------------------------------------------------------

Xft.lcdfilter: lcddefault
Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.rgba: rgb

*.alpha: .95
*.font: monospace:size=14
