#include "/home/viktor/code/others/base16-circus-scheme/circus/xresources/base16-circus.Xresources"
*multiClickTime: 300
*international: true
Xcursor.theme: default
Xcursor.size: 4

Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.rgba: rgb
